---
http_interactions:
- request:
    method: get
    uri: https://www.reddit.com/r/LifeProTips.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=t7wYk03ubeOrIHY%2B1GS6ED0oo1dk9VSEFvb5s1EZkOEBaVf9hoaFN22deRe7IBT7znnhfWdVoo35r5FK20P0uZN3lUOONwqU
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "self.LifeProTips", "banned_by": null, "media_embed": {},
        "subreddit": "LifeProTips", "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div
        class=\"md\"&gt;&lt;p&gt;I&amp;#39;ve noticed in a few highly upvoted LPT
        submissions many comments indicating how the sub sucks, &amp;#39;who&amp;#39;s
        upvoting this stuff?&amp;#39; and a bunch of other negative comments. Some
        comments even going so far to call others retarded and bash them for having
        zero common sense.&lt;/p&gt;\n\n&lt;p&gt;If you don&amp;#39;t like it, downvote
        and move on. I mean, I understand the[...]
