<div class="row">
<!-- Figure out to nest this "fixed elemnt projfsperly" -->
  <div class="large-8 columns  clearfix">
    <div class="panel right large-12 columns">
      <h5><%= link_to lifehack.title, lifehack_path(lifehack) %></h5>
      <table>
        <tbody>
          <tr>
            <td><%= time_ago_in_words(lifehack.created_at)%></td>
            <td>Submitted By: <%= lifehack.creator.first_name %> </td>
            <td>Average Rating:</td>
            <td>Description: <%= lifehack.short_description %> ... </td>
          </tr>
        </tbody>

      </table>

    </div>
  </div>
</div>
