  <div class="row">
      <ul class="button add-lifehack">
        <%= link_to 'Add Lifehack', new_lifehack_path%>
      </ul>
  </div>

  <div class="lifehacklist">
    <ul>
    <%= render @lifehacks %>
    </ul>
  </div>
</div>

<%= paginate @lifehacks %>
