.side-nav {
  float: left;
  max-width: 20%;
}

.nested-links {
  font-size: rem-calc(14);
}

#search-bar {
 padding: 2px 5px 2px 5px;
 width:150px;
}

#search-button {
 padding: 0px 0px 0px 0px;
}

.right #sign {
color: white
}
