.side-nav {
  float: left;
  max-width: 20%;
}

.nested-links {
  font-size: rem-calc(14);
}

.has-form {
  padding: 0;
}

.submit {
  padding: 0;
}

.profile-info {
  .profile-img {
    border-radius: 50%;
    width: 40px;
  }

  .profile-name {
    color: $white;
    font-size:15px;
  }
}
